@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');

/* fonts */
$calligraffitti: 'Amatic SC', cursive;

$padding_l0: 20px;
$padding_l1: 30px;

$mobile_breakpoint: 768px;
